-- Rendered by Ansible. Contains credentials: never commit the rendered file.

SET VARIABLE quack_address = 'quack:0.0.0.0:{{ quack_port }}';
SET VARIABLE quack_token = '{{ vault_quack_token }}';

-- S3: one key per bucket, scoped to that bucket
{% for layer in layers %}
CREATE SECRET s3_{{ layer }} (
    TYPE s3,
    KEY_ID '{{ bucket_keys[layer].access_key }}',
    SECRET '{{ bucket_keys[layer].secret_key }}',
    ENDPOINT '{{ bucket_endpoint }}',
    URL_STYLE 'path',
    USE_SSL true,
    REGION 'us-east-1',
    SCOPE 's3://hydroc-{{ layer }}'
);
{% endfor %}

-- DuckLake: catalog in Postgres cat_hydroc_<layer>, data in s3://hydroc-<layer>/
{% for layer in ducklake_layers %}
CREATE SECRET pg_{{ layer }} (
    TYPE postgres,
    HOST '{{ instance_ips['hydroc-pg'] }}',
    PORT 5432,
    DATABASE 'cat_hydroc_{{ layer }}',
    USER 'user_hydroc_{{ layer }}',
    PASSWORD '{{ vault_pg_passwords[layer] }}'
);
CREATE SECRET ducklake_{{ layer }} (
    TYPE ducklake,
    METADATA_PATH '',
    DATA_PATH 's3://hydroc-{{ layer }}/',
    METADATA_PARAMETERS MAP {'TYPE': 'postgres', 'SECRET': 'pg_{{ layer }}'}
);
{% endfor %}
